{% extends 'candidato_cda/index.html.twig' %}

{% block title %}Selección Comisión Dictaminadora de Área{% endblock %}

{% block contentRight %}

    <h1 class="text-center">Selección Comisión Dictaminadora en el Área de <br /> {{ area.nombre }}</h1>

    <ul class="list-unstyled list-inline float-end">
        {% if seleccionadosCda | length <= 0 %}
            <li class="list-inline-item"><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal-insaculacion"><i class="bi bi-dice-6"></i> Seleccionar Candidatos </button></li>
        {% else %} 
            <!-- Button trigger modal -->
            <a href="{{ path('seleccion_cda_download_area', {'area': area.id}) }}" class="btn btn-success btn-sm"><i class="bi bi-download"></i> Descargar </a>
            
            <li class="list-inline-item"><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal-reset"><i class="bi bi-trash"></i> Reset </button></li>
            
        {% endif %}  
    </ul>
    <div class="clearfix"></div>
    
    {% if titulos is defined %}
        <h3 class="text-center">Selección de {{ titulos[area.id] }}</h3>
    {% endif %}

    {% include 'seleccion_cda/_list.html.twig' %}

    <br />


    <!-- Modal -->
    <div class="modal fade" id="modal-reset" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="staticBackdropLabel">Borrar la selección actual</h5>
                </div>
                <div id="reset-modal-body" class="modal-body">
                    <h3 class="text-center alert alert-warning"><i class="bi bi-exclamation-triangle"></i> ¡La selección actual se perderá!</h3>
                </div>
                <div class="modal-footer">
                    <button id="cancelar-reset" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a id="reset" href="{{ path('seleccion_cda_reset_area', {'area': area.id}) }}" class="btn btn-primary"> Aceptar </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-insaculacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="staticBackdropLabel">Insaculación</h5>
                </div>
                <div id="insacular-modal-body" class="modal-body">
                    <h3 class="text-center"><i class="bi bi-exclamation-triangle"></i> ¡Realizar la insaculación de los candidatos!</h3>
                </div>
                <div class="modal-footer">
                    <button id="cancelar-insacular" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a id="insacular" href="{{ path('candidato_cda_sorteo_area', {'area': area.id}) }}" class="btn btn-primary" > Aceptar </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){

            $("#insacular").click(function (e) {
                //e.preventDefault();
                $("#cancelar-insacular").prop('disabled', true);
                $("#insacular-modal-body").html('<img src="{{ asset("resources/img/loading.gif") }}" class="text-center" width="100%" alt="">');
            });

            $("#reset").click(function (e) {
                //e.preventDefault();
                $("#cancelar-reset").prop('disabled', true);
                $("#reset-modal-body").html('<img src="{{ asset("resources/img/loading.gif") }}" class="text-center" width="100%" alt="">');
                console.log("SI");
            });

            {# {% for seleccionCdas in seleccionadosCda %}
                $("#div-{{ loop.index0 }}").delay(1000 * {{ loop.index0 }} ).slideDown();
            {% endfor %}  #}
        });
    </script>

{% endblock %}
