{% extends 'layout.html.twig' %}

{% block title %}Candidatos{% endblock %}

{% block content %}
    <h1 class="text-center">Candidatos Comisión Dictaminadora de Recursos</h1>
    <br />
    <table id="table-content" class="table table-sm table-striped text-center">
        <thead class="bg-dark text-white">
            <tr>
                <th>Candidato</th>
                <th>Unidad</th>
                <th>División</th>
                <th>Departamento</th>
                <th>Sexo</th>
            </tr>
        </thead>
        <tbody>
        {% for candidato_cdr in candidato_cdrs %}
            <tr class="small">
                <td >{{ candidato_cdr.nombre | upper }}</td>
                <td class="nowrap">{{ candidato_cdr.nombreUnidad }}</td>
                <td>{{ candidato_cdr.nombreDivision }}</td>
                <td>{{ candidato_cdr.nombreDepartamento }}</td>
                <td>{{ candidato_cdr.genero }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="29">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
